body{
    margin: 0;
    font-family: monospace;
    font-size: 1.3vw;
}
.row{
    width: 100%;
    float: left;
}
.mh1{
    background-color: #0e0e0e;
    min-height: 50px;
    position: relative;
}
.mh2{
    background-color: #121212;
    min-height: 100px;
}
.mh3{
    background-color: white;
    min-height: 300px;
}
.row4{
    width: 80%;
    margin-left: 10%;
    padding: 5% 0;
    text-align: center;
}
.mh4{
    background-color: white;
    min-height: 600px;
}
.mh5{
    width: calc(100% - 20%);
    float: left;
    background-color: #0e0e0e;
    min-height: 150px;
    text-align: center;
    padding: 5% 10%;
}
.icons{
    width: 50%;
    list-style: none;
    position: absolute;
    padding: 0.5% 5%;
    z-index: 1;
}
.tin{
    width: 35%;
    float: right;
    padding: 1.5% 0%;
}
.icon{
    float: left;
    width: 5%;
    height: 20px;
    border-radius: 3px;
    background-color: #0e0e0e;
    text-align: center;
    margin: 5px;
    color: white;
    padding: 0.5% 0%;
}
.icon:hover{
    background-color: #ab8e69;
}
.icons a{
    margin-left: 5px;
    float: left;
    padding: 1.5%;
    color: rgb(194, 194, 194);
}
.tin nav{
    list-style: none;
    font-size: 0.9vw;
}
.tin nav li a{
    float: left;
    color: white;
    margin-right: 4%;
}
.tin nav li:hover a{
    color: bisque;
}
.anh{
    width: 50%;
    float: left;    
}
.tieude{
    width: 50%;
    float: right;
    margin-top: 2%;
}
.anh img{
    margin-top: 3%;
    margin-left: 12%;
}
.tieude1{
    width: 60%;
    float: left;
    margin-top: 2%;
}
.tieude2{
    width: 20%;
    float: left;
}
.tieude3{
    width: calc(20% - 5%);
    float: right;
    color: white;
    margin-left: 3%;
}
.tieude1 nav{
    list-style: none;
    font-weight: bolder;
}
.tieude1 nav li a{
    float: left;
    color: white;
    margin-right: 5%;
    text-decoration: none;
}
.tieude1 nav li:hover a{
    color: #8f6e43;
}
.tieude2 input[type="submit"]{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #c2a177;
    padding: 12% 2%;
    border: 0;
    transition: 0.5s;
}
.tieude2 input[type="submit"]:hover{
    background-color: #8f6e43;
}
footer{
    width: calc(100% - 16.7%);
}
table{
    width: 100%;
    color: white;
    font-size: 1vw;
    text-align: left;
}
table a{
    color: white;
    text-decoration: none;
}
input[type="email"]{
    width: 70%;
    border: 0px white solid;
    padding: 5% 3%;
    border-radius: 2px;
    background-color: black;
}
input[type="submit"]{
    width: 25%;
    background-color: #8f6e43;
    border-radius: 3px;
    border: 0;
    padding: 5% 0;
    font-weight: bolder;
    color: white;
    font-size: 1vw;
}
input[type="submit"]:hover{
    background-color: #ab8e69;
}
table .de{
    font-size: 1.3vw;
    font-weight: bolder;
}
table .loca{
    margin-left: 5%;
}
.end{
    color: white;
    font-size: 0.9vw;
}
.boxdau{
    background-image: url('../../anh/nam-gioi-nen-deo-dong-ho-day-da-hay-kim-loai-moi-tot-Andreas-Strehler-Time-Shadow-2-1.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 300px;
}
.bgr{
    background-image: radial-gradient(circle, rgb(0,0,0,0.2), black);
    height: 300px;
    position: absolute;
    width: 100%;
}
.text_center{
    position: absolute;
    width: 75%;
    left: 12%;
    margin: 9% 0px;
    text-align: center;
}
.text_center a{
    text-align: center;
    color: white;  
}
.row4 h1{
    font-size: 2.5vw;
    color: #8f6e43;
}
.box{
    width: 100%;
    min-height: 350px;  
    text-align: center;
    margin-top: 4%;
}
#muiten{
    background-color: burlywood;
}
.chu{
    width: 60%;
    margin-left: 20%;
    font-weight: bolder;
    font-size: 2vw;
    color: black;
}

